
body {
    background-color: black;
    /* color:white */
}
.execisesshowdiv{
    /* background-color:whi; */
    width:95%;
    margin:auto;
    /* height:auto; */
    border-radius: 2em;
    /* display: flex; */
    
    
   
}
.exercisediv{
    width:400px;
   
}
.exerciseshowcard{
    background-color:rgb(34,34,34);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
     row-gap: 20px;
}
.textcolor{
  color:WHite;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.adjustsize{
    border-radius: 50%;
    height:200px;
}
/* SearchInput.css */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.search-icon {
  width: 40px;
  height: 40px;
  background-color: #ff8000; /* You can use your desired search icon background color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.3s;

}

.search-icon i {
  color: #fff; /* Icon color */
  font-size: 20px;
}

.search-input-container {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.3s;

}

.show-search-input {
  max-width: 340px; /* Increase the size of the input box further */
  transition: max-width 0.3s;
}

.search-input {
  padding: 12px; /* Increase the padding for more space */
  border: none;
  background-color: #f0f0f0; /* Input background color */
  font-size: 16px;
  /* Add border radius on all sides */
  width: 100%; /* Make the input box expand to fill the container */
  
}

.search-input::placeholder {
  color: #777; /* Placeholder color */
}

.search-input:focus {
  outline: none;
}

.hide-search-icon {
  display: none;
}
/* SearchInput.css */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-icon {
    width: 60px;
    height: 60px;
    background-color: #ff8000; /* You can use your desired search icon background color */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.3s;
  }
  
  .search-icon i {
    color: #fff; /* Icon color */
    font-size: 20px;
  }
  
  .search-input-container {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s;
    
  }
  
  .show-search-input {
    max-width: 340px; /* Increase the size of the input box further */
    transition: max-width 0.3s;
  }
  
  .search-input {
    padding: 12px; /* Increase the padding for more space */
    /* border: none; */
    background-color: #f0f0f0; /* Input background color */
    font-size: 16px;
  
    width: 340px; /* Set the width to the desired value */
  }
  
  .search-input::placeholder {
    color: #777; /* Placeholder color */
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .hide-search-icon {
    display: none;
  }
  .dropdown-style{
    font-family: 'Roboto', sans-serif;
    height:40px;
    font-size: 1rem;
    background: #000;
    color:white;
    border: none;
  }
  .dropdown-style:focus {
    outline: none; /* Remove the focus outline */
  }
  .imagefullsize{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    z-index: 10;
  }

  @media (max-width:873px){
    .imagefullsize{
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
  .showimage{
    border-radius: 50%;
    height:70%;

  }
  .blur{
    filter: blur(20px);
  }